<div class="container">
    <h1>Tạo mới sinh viên</h1>
    <div>
        <form action="" class="form" #studentForm="ngForm" (ngSubmit)="onSubmit(studentForm.value)">
            <div class="form-group">
                <label for="name">Tên sinh viên</label>
                <input type="text" id="name" name="name" class="form-control" [(ngModel)]="student.name"  #name="ngModel" required minlength="6" maxlength="32">
            </div>
            <div class="form-group">
                <label for="class">Tên lớp</label>
                <input type="text" id="class" name="class" class="form-control" [(ngModel)]="student.class" #class="ngModel" required  minlength="6" maxlength="32">
            </div>
            <div *ngIf="studentForm.form.dirty" class="text-danger">
                <p *ngIf="name.errors?.['required']">Tên không được để trống</p>
                <p *ngIf="class.errors?.['required']">Lớp không được để trống</p>
                <p *ngIf="name.errors?.['minlength']">Tên tối thiểu 6 ký tự</p>
                <p *ngIf="class.errors?.['maxlength']">Lớp không quá 32 ký tự</p>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="studentForm.form.invalid" >Submit</button>
            </div>
            
        </form>
    </div>
</div>
