<p>student works!</p>
<!-- <p>{{students | json}}</p> -->
<a routerLink="/students/form" class="btn btn-primary m-4">Create</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Class</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of students">
            <th>{{s.id}}</th>
            <th>{{s.name}}</th>
            <th>{{s.class}}</th>
            <th><app-status-btn [status]="s.status" (changeStatus)="parentChangeStatus($event, s)"></app-status-btn></th>
            <td>
                <a routerLink="/students/{{s.id}}" class="btn btn-primary">Chi tiet</a>
                <a routerLink="/students/form/{{s.id}}" class="btn btn-warning">Sửa</a>
                <button class="btn btn-danger" (click)="onDelete(s.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>