<p class="login-title">List user</p>

<div class="container">
    <div class="mb-3">
        <h2>Tim kiem</h2>
        <form action="" class="form">
            <input type="text" placeholder="seach" (input)="onSeach($event)">
        </form>
    </div>
    <h3>Them moi</h3>
    <form action="">
        <div class="form-group col-8 mb-3">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" (input)="onChange($event, 'name')" autocomplete="off" [value]="newUser.name">
        </div>
        <div class="form-group col-8 mb-3">
            <label for="age">Age</label>
            <input type="number" id="age" class="form-control" (input)="onChange($event, 'age')" autocomplete="off" [value]="newUser.age">
        </div>
        <div class="form-group col-8 mb-3">
            <label for="phone">Phone</label>
            <input type="text" id="phone" class="form-control" (input)="onChange($event, 'phone')" autocomplete="off" [value]="newUser.phone">
        </div>
        <div class="form-group col-8 mb-3">
            <label for="avatarUrl">Avatar Url</label>
            <input type="text" id="avatarUrl" class="form-control" (input)="onChange($event, 'avatar')" autocomplete="off" [value]="newUser.avatar">
        </div>
        <div class="form-group col-8 mb-3">
            <button type="button" class="btn btn-primary" [disabled]="!onValidate(newUser)" (click)="onSubmit()">Submit</button>
        </div>
    </form>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Avatar</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersFilter">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.phone}}</td>
                <td>
                    <!-- <img src="{{user.avatar}}" alt="" height="100"> -->
                    <img [src]="user.avatar" alt="" height="100">
                </td>
                <td>
                    <button class="btn btn-danger" (click)="remove(user.id)">Delete</button>
                    <button class="btn btn-success m-3" (click)="onEdit(user)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>